{% extends "public/layout-email.html" %}

{% block body %}

Good news (NEW USER)!<br/><br/>

The {{badgeName}} badge is ready to be claimed by you.<br/><br/>

In order to claim the {{badgeName}} badge:<br/><br/>

Please click <a href="{{url}}">{{url}}</a>. You'll want to make sure to use this email address as your login. And click accept when you land on your MyBadges page to make sure the badge is yours.<br/><br/>

Maine State of Learning is an initiative which strives to provide more learning opportunities to Maine citizens of all ages and recognize that learning through digital badges, and connect it to statewide proficiencies, career-pathways and personal goals. We're excited about your participation.<br/><br/>

Please get in touch if you have any questions or concerns.<br/><br/>

From your friends at Maine State of Learning<br/><br/>

{% endblock %}
