{% extends "public/layout-email.html" %}

{% block body %}

It looks like you need a new password for Maine State of Learning. That shouldn't take long once you click this link: <a href="{{url}}">{{url}}</a> and create a new, secure password. Make sure to do this within 7 days or else the link will expire.<br/><br/>

We're excited to get you back to exploring and earning badges!<br/><br/>

From your friends at Maine State of Learning<br/><br/>

P.S. If this email wasn't meant for you, you can ignore it and nothing will happen.<br/><br/>

{% endblock %}