{% extends "public/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/css/main.css">
{% endblock %}
{% block body %}

<div class="row">
  <div class="col-md-12 lighthouse-header">
    <img src="/img/lighthouse.jpg"/>
    <div class="lighthouse-text">Find out what Maine State of Learning has in store for you.</div>
  </div>
</div>

 <nav class="navbar subnavbar navbar-default">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div>
     <ul class="nav navbar-nav subnav">
       <li><a href="#what-it-is">What It Is</a></li>
       <li><a href="#how">How It Works</a></li>
       <li><a href="#who-benefits"> Who Benefits</a></li>
       <li><a href="#pilot"> 2015 Pilot</a></li>
       <li><a href="#involved"> Who's Involved</a></li>
     </ul>
   </div>
  </nav>
  
  <div class="row row-spacer-tb">
    <div class="col-md-12">
      <h3 class="text-center what"><a name="what-it-is"></a>What It Is</h3>
      <br/>
    </div>
  </div>
  <div class="row row-spacer-b what-it-is">
    <div class="col-md-3 col-md-offset-2 text-center">
      <img src="/img/students-outside.jpg"/>
    </div>
    <div class="col-md-5"><p>Maine State of Learning is a project fueled by public and private partnerships across the state of Maine to provide more learning opportunities to Maine citizens of all ages, recognize that learning through digital badges, and connect it to statewide proficiencies, career pathways and personal goals.</p>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-12">
      <div class="bluefiller">
        <div class="bluefiller-text text-center">
          <h4>Personal, professional and community growth.</h4>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="row row-spacer-tb">
    <div class="col-md-12 text-center">
      <h3 class="text-center"><a name="how"></a>How It Works</h3>
      <br/>
    </div>
  </div>
  <div class="row how-it-works row-eq-height text-center">
    <div class="col-sm-2 col-sm-offset-1 text-center">
      <img src="/img/how01.png"/>
    </div>
    <div class="col-sm-2">
      <img src="/img/how02.png"/>
    </div>
    <div class="col-sm-2">
      <img src="/img/how03.png">
    </div>
    <div class="col-sm-2">
      <img src="/img/how04.png">
    </div>
    <div class="col-sm-2">
      <img src="/img/how05.png">
    </div>
  </div>
  
  <div class="row row-spacer-b how-it-works-desc text-center">
    <div class="col-sm-2 col-sm-offset-1 text-center">
      <img src="/img/how01.png"/></span>
      <h4><strong>FORM A NETWORK</strong></h4>
      of existing organizations and schools offering learning programs eliminates the boundaries and extends beyond the classroom across Maine.
    </div>
    <div class="col-sm-2 text-center">
      <img src="/img/how02.png"/>
      <h4><strong>PROVIDE MORE LEARNING OPPORTUNITIES</strong></h4>
      to capture the learning, connect it to deeper learning opportunities and communicate it back to schools and employers.
    </div>
 		<div class="col-sm-2 text-center">
      <img src="/img/how03.png"/>
      <h4><strong>USE DIGITAL BADGES</strong></h4>
      to capture the learning, connect it to deeper learning opportunities and communicate it back to schools and employers.
    </div>
		<div class="col-sm-2 text-center">
		  <img src="/img/how04.png"/>
      <h4><strong>CONNECT EVERYTHING</strong></h4>
      up into state-level standards, proficiencies and industries.
    </div>
    <div class="col-sm-2 text-center">
      <img src="/img/how05.png"/>
      <h4><strong>KICK IT ALL OFF</strong></h4>
      with an initial pilot in the summer of 2015 with an initial pilot in the summer of 2015 from which MSOL will grow and expand. 
    </div>
	</div>
	
	<div class="row row-spacer-tb">
    <div class="col-lg-12 text-center">
      <h3 class="text-center"><a name="who-benefits"></a>Who Benefits</h3>
      <br/>
    </div>
  </div>
  <div class="row who-benefits row-eq-height text-center">
    <div class="col-sm-2 col-sm-offset-2 text-center">
      <img src="/img/who01.png"/>
    </div>
    <div class="col-sm-2">
      <img src="/img/who02.png"/>
    </div>
    <div class="col-sm-2">
      <img src="/img/who03.png">
    </div>
    <div class="col-sm-2">
      <img src="/img/who04.png">
    </div>
  </div>
  
  <div class="row who-benefits-desc text-center">
    <div class="col-sm-2 col-sm-offset-2 text-center">
      <img src="/img/who01.png"/></span>
      <h4><strong>MAINERS</strong></h4>
      Maine citizens of all ages will have access to more opportunities for growth and success.
    </div>
 		<div class="col-sm-2 text-center">
      <img src="/img/who02.png"/>
      <h4><strong>LEARNING PROVIDERS</strong></h4>
      Providers across the state will reach a broader audience, connect to other providers and better understand their learners.
    </div>
		<div class="col-sm-2 text-center">
		  <img src="/img/who03.png"/>
      <h4><strong>EMPLOYERS</strong></h4>
      Local businesses and employers can on-ramp citizens into jobs and careers.
    </div>
    <div class="col-sm-2 text-center">
      <img src="/img/who04.png"/>
      <h4><strong>LOCAL ECONOMY</strong></h4>
      Maine as a whole ensures citizens are on the path to success, develops a more skilled workforce and celebrates the culture and experiences that make it unique.
    </div>
	</div>
	<div class="bluefiller">
      <div class="bluefiller-text text-center"><h4>Maine ensures citizens are on a path to success, develops a more skilled workforce and celebrates the culture and experiences that make us unique.</h4></div></div>
  </div>
  
  <div class="row">
     <div class="col-lg-12">
       <h3 class="text-center"><a name="pilot"></a>Summer 2015 Pilot</h3>
     </div>
  </div>
  
  <div class="row row-spacer-tb pilot">
     <div class="col-lg-12">
       <h4 class="text-center">We're piloting these ideas this summer with early adopters in the greater Portland area and across the state. The pilot will feature summer programs in 4 tracks and recognize the learning and skills through digital badges.</h4>
       <p class="text-center"><a href="/earn/track">View badges by track</a></p>
       <br/>
     </div>
  </div>
  
  <div class="row text-center">
     <div class="col-sm-2 col-sm-offset-4 col-xs-4 col-xs-offset-2">
       <img src="/img/outdoor-learning.jpg"/>
       <h4>ENVIRONMENT / OUTDOORS</h4>
     </div>
     <div class="col-sm-2 col-xs-4">
        <img src="/img/women-garden.jpg"/>
        <h4>AGRICULTURE / FOOD</h4>
    </div>
  </div>
  <div class="row row-spacer-tb text-center">
     <div class="col-sm-2 col-sm-offset-4 col-xs-4 col-xs-offset-2">
       <img src="/img/furniture-maker.jpg"/>
       <h4>ARTS / MAKER</h4>
     </div>
     <div class="col-sm-2 col-xs-4">
        <img src="/img/computer-guy.jpg"/>
        <h4>COMPUTER / TECH</h4>
    </div>
  </div>
  
  <div class="row">
     <div class="col-lg-12">
       <h3 class="text-center"><a name="involved"></a>Who's Involved</h3>
     </div>
     <div class="row row-spacer-tb">
        <div class="col-lg-12">
          <h4 class="text-center"><a name="#orgs"></a>LEARNING PROVIDER PARTNERS</h4>
          <br/>
        </div>
     </div>
  </div>
  
  <div class="row involved">
     <div class="col-md-4 col-md-offset-2 col-xs-5 col-xs-offset-3">
 				<li><a href="http://baxter-academy.org/" target="_blank">Baxter Academy</a></li>
 				<li><a href="http://breakwaterschool.org/" target="_blank">Breakwater School and Enrichment Center</a></li>
 				<li><a href="https://www.cultivatingcommunity.org/" target="_blank">Cultivating Community</a></li>
 				<li><a href="http://umaine.edu/4h/" target="_blank">Maine 4-H</a></li>
 				<li><a href="http://themainegame.com/" target="_blank">The Maine Game</a></li>
 				<li><a href="http://www.mainerobotics.org/" target="_blank">Maine Robotics</a></li>
 				<li><a href="http://www.seacoastmission.org/index.php" target="_blank">Maine Seacoast Mission</a></li>
     </div>
     <div class="col-md-4 col-md-offset-1 col-xs-5 col-xs-offset-3">
       <li><a href="http://www.portlandschools.org/" target="_blank">Portland Public Schools</a></li>
       <li><a href="http://trails.org/" target="_blank">Portland Trails</a></li>
       <li><a href="http://www.msad54.org/sams/afterschool/BeyondtheBell/Afterschool/Home.html" target="_blank">Skowhegan ASP</a></li>
       <li><a href="http://www.tellingroom.org/" target="_blank">The Telling Room</a></li>
       <li><a href="http://www.dirigoes.org/~WFKA/Western_Foothills_Kids_Association/WFKA.html" target="_blank">Western FootHills Kids Association</a></li>
       <li><a href="http://wolfesneckfarm.org/" target="_blank">Wolfe's Neck Farm</a></li>
     </div>
    </div>
     
     <div class="row row-spacer-tb">
       <div class="col-lg-12">
         <br/>
         <h4 class="text-center">FOUNDING PARTNERS</h4>
       </div>
     </div>
     <div class="row text-center founders">
       <div class="col-xs-12 col-sm-2 col-sm-offset-1">
         <a href="http://www.breakwaterschool.org" target="_blank"><img src="/img/breakwaterlogo.gif" /></a>
       </div>       
       <div class="col-xs-12 col-sm-2">
         <a href="http://badgelabs.io" target="_blank"><img src="/img/badgelabslogo.png" /></a>
       </div>       
       <div class="col-xs-12 col-sm-2">
         <a href="http://www.educatemaine.org" target="_blank"><img src="/img/em-final_logo2-192x131alpha.png" /></a>
       </div>       
       <div class="col-xs-12 col-sm-2">
         <a href="http://www.gmri.org" target="_blank"><img src="/img/gmri_logo_tag.jpg" /></a>
       </div>       
       <div class="col-xs-12 col-sm-2">
         <a href="http://www.maineafterschool.org" target="_blank"><img src="/img/maineafterschoollogo.png" /></a>
       </div>       

         </div>
  
{% endblock %}
