{% extends "public/layout.html" %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">Breakwater Learning Mission And Purpose</h3>
  </div>
</div>

<div class="row row-spacer-tb">
  <div class="col-lg-4">
    <img  class="pull-left" src="/img/BWSlogo.jpg">
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>Breakwater Learning's mission is to engage learners in optimal learning experiences that inspire them to live well on the planet, embrace their whole being, and realize their full potential. We accomplish this through a number of programs that touch learners across the state of Maine, continually reviewing and applying best educational practices, and building community aligned with our values and spirit.</p>
    <p>We believe that for learners of all ages, learning is most powerful when it is:
      <ul>
        <li><strong>Integrated</strong>: Learning is better synthesized and internalized when concepts and themes are reinforced within an interdisciplinary framework and connected across contexts.</li>
        <li><strong>Challenging</strong>: Learners should be challenged to move beyond their comfort zones to take risks, try new things, and reach their best potential.</li>
        <li><strong>Authentic</strong>: Information is presented in a meaningful context, is relevant to learners' interests, and has useful, real-world applications. All authentic learning experiences should count for those learners towards their goals.</li>
        <li><strong>Personalized</strong>: Teaching methods and options should be sensitive to learners' different cognitive/learning styles, interests, needs and strengths.</li>
        <li><strong>Active and Hands-on</strong>:  Learners learn by doing and make meaning from their own experiences. They need to take ownership of the learning process and play an active role in constructing their knowledge.</li>
        <li><strong>Inclusive</strong>:  Optimal learning takes place in an environment that honors each individual for who he/she is, meets learners where they are, and values multiple perspectives, diversity, and social justice.</li>
      </ul>
      </p>
      <p>Breakwater was founded in 1956 and incorporated in 1977 as a K-4 school in Portland, ME. Over the years since, the school has expanded to include a middle school, added a robust Afterschool Enrichment program and community-supporting Professional Development center.</p>
      <p><a href="http://breakwaterschool.org/" target="_blank"><strong>The school</strong></a> serves 150 full-time students, the Summer Program reaches more than 500 children and the afterschool Enrichment Program serves over 200 students throughout the course of the year. Students are recruited through our existing community, word of mouth and advertising in the Greater Portland area. We are working to expand the Enrichment offerings to more regions in Maine, and ultimately more learners across the state. We aim for and expect the Maine State of Learning (MSOL) program to reach many thousands of learners of all ages from all regions of Maine as well. MSOL is a scaling mechanism for our philosophies, approaches and ideas.</p>
      <p>We formally expanded our structure and refiled to broaden our 501c3 in the spring of 2015 to Breakwater Learning to cover the variety of programs we run in addition to the school.</p>
  </div>
</div>

{% endblock %}