{% extends "public/layout.html" %}

{% block main %}
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">Claim Your Badge</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    Has your instructor provided you with a claim code to get your badge? If so, enter it here:
    <div class="row row-spacer-tb">
      <div class="col-lg-5">
        <form name="getclaim" role="form" action="/get-claimed-badge" method="post">
          <div class="form-group">
            <input type="text" name="code" id="code" value="{{claimCode}}" class="form-control" required/>
            <div class="text-danger">{% if notFoundErr|length %}{{notFoundErr}}{% endif %}</div>
          </div>
          <div class="form-group">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <input type="hidden" name="noAccount" value="noAccount">
            <button class="btn btn-sm btn-primary">Claim</button>
            </div
          </form>
        </div>
      </div>
    </div>
  </div>
    <p>After you type in the claim code, you'll see the badge you just earned along with all its information. You can then add your name to your badge and print it so that it’s easy to share it with your friends, parents, guardians or teachers!</p>
    
{% endblock %}

<!--

Render claim page
submit claim code
find badge by claim code
  - not found return error
return badge 
form with name
submit name and print pdf.


-->
