{% extends "public/layout.html" %}
{% block main %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3>Reset Password</h3>

    {% if expiredErr|length %}
    <p>{{expiredErr}}</p>
    
    {% elif success|length %}
    <p>{{success}}</p>
    
    {% else %}
    
    <p>To reset your password enter your email below. You will be sent an email with instructions on how to reset your password.</p>
    
    {% if userErr|length %}<div class="alert alert-danger" role="alert">{{userErr}}</div>{% endif %}
    <form name="forgotPw" role="form" action="/forgotpw" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" required />
         {% for error in errors %}
          {{error.email.msg}}
        {% endfor %}
      </div>
      <div class="form-group">
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <button class="btn btn-primary sign-in">Send</button>
      </div>
      
  {% endif %}    
    </div>
  </div>
</form>

{% endblock %}