<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Maine State of Learning</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
    * {
      -webkit-text-size-adjust: none;
      -webkit-text-resize: 100%;
      text-resize: 100%;
    }
    @media only screen and (max-width:500px) {
      
    }
  </style>
</head>
<body style="margin:0; padding:0;" bgcolor="#ffffff" link="#bd1e8d">
  <style type="text/css">
    * {
      -webkit-text-size-adjust: none;
      -webkit-text-resize: 100%;
      text-resize: 100%;
    }
  </style>
    <table class="wrapper" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="margin-top: 20px;">
      <tr>
        <td style="text-align:center; padding: 40px;"><img src="http://f.cl.ly/items/3W1a1D2J2p152L3O0k2a/msol-logo-lores-250x83.jpg"></td>
      </tr>
      <tr>
        <td style="font-family: Helvetica,Arial,sans-serif;line-height:20px;font-size: 14px;padding:0 40px 40px 40px;">
          {% block body %}{% endblock %}
        </td>
      </tr>
    </table>
  </body>
  </html>