<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Maine State Of Learning | {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf" content="{{csrf}}">
    <!-- Le styles -->
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/msol.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/admin.css" rel="stylesheet">
    {% block header %}{% endblock %}
  </head>
  <body>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="pull-left navbar-brand"><img src="/img/msol-logo-blk.png"/></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{%if active == 'explore'%}active{%endif%}"><a href="/">Explore</a></li>
            <li class="{%if active == 'earn'%}active{%endif%}"><a href="/earn">Earn</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
             {% if user %}
             <li class="{%if active == 'mybadges'%}active{%endif%}"><a href="/mybadges"> My Badges</a></li>
             {% if access == "super" %}
             <li class="{%if active == 'admin'%}active{%endif%}"><a href="/admin"> Admin</a></li>
             <li class="{%if active == 'issuer'%}active{%endif%}"><a href="/issuer"> Issue </a></li>
             {% endif %}
              <li>
                <a href="" class="js-logout-link">Log Out</a>
                <form method="post" action="/logout" class="logout-form js-logout-form">
                  <input type="hidden" name="csrf" value="{{ csrf }}">
                </form>
              </li>
              {% else %}
             <li><a href="/login"> Login </a></li>
            {% endif %}
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <div id="body">
      <div class="body-fluid-container">
      {% block body %}{% endblock %}
      </div>
      <div class="container">
      {% block main %}{% endblock %}
      </div>
    </div>
    <footer>
      <div class="footer navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left navbar-brand"><img src="/img/msol-logo-white.png"/></a>
          </div>
          
          <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li class="{%if active == 'about'%}active{%endif%}"><a href="/about">About</a></li>
              <li class="{%if active == 'faq'%}active{%endif%}"><a href="/faq">FAQ</a></li>
              <li class="{%if active == 'contact'%}active{%endif%}"> <a href="/contact-us">Contact Us</a></li>
              <li class="{%if active == 'terms'%}active{%endif%}"> <a href="/terms-of-use">Terms of Use</a></li>
              <li class="{%if active == 'privacy'%}active{%endif%}"> <a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
          <div class="row">
            <div class="col-sm-12 copyright text-center">&copy; 2015 Maine State of Learning</div>
          </div>
        </div><!-- /.container-fluid -->
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    {% block footer %}
    {% if nodeEnv == "production" %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43067975-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
    {% endblock %}
  </body>
</html>
