<!DOCTYPE html>
<html lang="en">

  <body style="background: #ffffff; font-family: Myriad, Helvetica, Arial, sans-serif; color: #454545; font-size: 14px;line-height: 1.42857;">
    <div style="display: block;">
      <img style="width:224px;height:71px" src="http://f.cl.ly/items/3W1a1D2J2p152L3O0k2a/msol-logo-lores-250x83.jpg"/>
    </div>

    <div>
      {% block main %}{% endblock %}
    </div>

    <div style="display: block;width: 100%; font-size: 12px;color: #777; text-align: center; padding-top: 50px;">
      &copy; 2015 Maine State of Learning
    </div>
  </body>
</html>