{% extends "public/layout.html" %}

{% block main %}

<div class="row">
  <div class="col-lg-12">
    <h3 class="page-title">Level Up</h3>
    <p>The more you earn, the more you gain! After earning a certain number of badges in a track, 
    you will unlock the opportunity to take part in a <strong>Level Up Challenge</strong> in order to build or solidify 
    your skills and be on your way to mastery. Check out some of the challenges that we have in store 
    for you this summer!</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h4>Outdoor/Environment</h4>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <p><strong>Youth Group Survivor Challenge with Maine Forest Yurts, sponsored by Breakwater Learning</strong></p>
  </div>
</div>

<div class="row">
  	<div class="col-md-2 col-sm-2">
  		<img src="/img/level-up-youth-group-survival-challenge.png"/>
  	</div><!-- end col-md-2 -->
  	<div class="col-md-10 col-sm-10">
    <p>Join us on an adventure to tackle Challenge Valley with Bob Crowley, a local Mainer who won the reality TV Show SURVIVOR. Learners who have earned 3 digital badges in the Outdoor/Environment track unlock the opportunity to be a part of a Youth Group Survivor Challenge led by Crowley himself. Maine Forest Yurts, Crowley's property, has over 100 acres of land embedded with various challenges of all levels. There will be opportunities for individuals and groups to try intricate mazes, team building challenges, raft poling challenges around a pond, building fires, and more! Learners who participate in this challenge will unlock a new survival badge to add to their collection.</p>
  	<p>If you are have already earned 3 digital badges in the Outdoor/Environment track and would like to tackle this challenge, please contact: Kelly Steinhagen at ksteinhagen@breakwaterschool.org or 207.772.8689 ext.238</p>
  	</div><!-- end col-md-10 -->
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <p><strong>Breakwater Science Challenge</strong></p>
  </div>
</div>

<div class="row">
	<div class="col-md-2 col-sm-2">
		<img src="/img/level-up-breakwater-science-challenge.png"/>
	</div><!-- end col-md-2 -->
	<div class="col-md-10 col-sm-10">
    <p>Calling all scientists, chemists, and inventors! Breakwater is going to create an original science challenge to put our learners to the test. Any learner who earned 2 badges in the outdoor/environment track will have the chance to create his or her own invention and their final products in the Maine State of Learning Showcase in September. Learners will be presented with a science challenge in late August and will have four weeks to complete.</p>
  	<p>If you are have already earned 2 digital badges in the Outdoor/Environment track and would like to tackle this challenge, please contact: Kelly Steinhagen at ksteinhagen@breakwaterschool.org or 207.772.8689 ext.238</p>
  	</div><!-- end col-md-10 -->
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <h4>Arts/Maker</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><strong>Maine State of Learning Showcase: Performance</strong></p>
  </div>
</div>

<div class="row">
  	<div class="col-md-2 col-sm-2">
  		<img src="/img/level-up-msol-performance.png"/>
  	</div><!-- end col-md-2 -->
  	<div class="col-md-10 col-sm-10">
    <p>It is time to take your passion to the stage! Learners who have earned 3 digital badges in the arts/maker track, with a focus on performing arts, will be invited to perform a student-created piece at the Maine State of Learning Showcase in September. Learners will have the chance to rehearse their piece with their instructors before the showcase event. The performance will be recorded and shared via social media.</p>
  	<p>If you are have already earned 3 digital badges in the Arts/Maker track and would like to tackle this challenge, please contact: Kelly Steinhagen at ksteinhagen@breakwaterschool.org or 207.772.8689 ext.238</p>
  	</div><!-- end col-md-10 -->
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <p><strong>Maine State of Learning Art Exhibit</strong></p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p>Now that you have explored your creative side all summer with paint, wood, clay, recycled materials, or anything you got your hands on, join us in celebrating our art! Learners who have earned 3 or more digital badges in the arts/maker track will be invited to display a work of art or personal creation at the Maine State of Learning Showcase in September.</p>
  	<p>If you are have already earned 3 digital badges in the Arts/Maker track and would like to tackle this challenge, please contact: Kelly Steinhagen at ksteinhagen@breakwaterschool.org or 207.772.8689 ext.238</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <p><strong>Maine State of Learning: Summer Literary Zine</strong></p>
  </div>
</div>

<div class="row">
  	<div class="col-md-2 col-sm-2">
  		<img src="/img/level-up-summer-literary-zine-cont.png"/>
  	</div><!-- end col-md-2 -->
  	<div class="col-md-10 col-sm-10">
    <p>Have you ever wondered what it would be like to have your written work published? What about an original comic? Or an original recipe? Join us in creating a Maine Made Literary Zine to celebrate our talented learners across Maine. Learners who earned 3 badges in the Arts/Maker track, with a focus on writing or comics, will have the chance to submit original work to be published in a Summer Literary Zine. Learners earning badges in the Agriculture/Food track will have the chance to submit original recipes or restaurant reviews. The final product will be available for distribution at our Maine State of Learning Showcase in September.</p>
  	</div><!-- end col-md-2 -->
</div>

<br>

<div class="row">
  <div class="col-lg-12">
    <h4>Agriculture/Food</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <p><strong>Maine State of Learning: Summer Literary Zine</strong></p>
  </div>
</div>

<div class="row">
  	<div class="col-md-2 col-sm-2">
  		<img src="/img/level-up-summer-literary-zine-cont.png"/>
  	</div><!-- end col-md-2 -->
    <div class="col-md-10 col-md-10">	
    <p>Have you ever wondered what it would be like to have your written work published? What about an original comic? Or an original recipe? Join us in creating a Maine Made Literary Zine to celebrate our talented learners across Maine. Learners who earned 3 badges in the Arts/Maker track, with a focus on writing or comics, will have the chance to submit original work to be published in a Summer Literary Zine. Learners earning badges in the Agriculture/Food track will have the chance to submit original recipes or restaurant reviews. The final product will be available for distribution at our Maine State of Learning Showcase in September.</p>
  	</div><!-- end col-md-10 -->
</div>

{% endblock %}