{% extends "public/layout.html" %}
{% block main %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3 class="page-title">Login</h3>
    <p>Don't have an account? Sign up with any of the <a href="/explore"><strong>participating organizations</strong></a> to get started.</p>
    
    {% if userErr|length %}<div class="alert alert-danger" role="alert">{{userErr}}</div>{% endif %}
    {% if loginErr|length %}<div class="alert alert-danger" role="alert">{{loginErr}}</div>{% endif %}
    <form name="login" role="form" action="/login" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{email}}" class="form-control" required />
        <div class="text-danger">
          {% for error in errors %}
          {{error.email.msg}}
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password"class="form-control" required />
        <div class="text-danger">
          {% for error in errors %}
          {{error.password.msg}}
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <p><a href="/forgotpw/">Forgot Password?</a></p>
      </div>
      <div class="form-group">
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <button class="btn btn-primary sign-in">Log In</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}