{% extends "public/layout.html" %}
{% block main %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h4 class="page-title">Reset Password</h4>
    {% if userErr|length %}<div class="alert alert-danger" role="alert">{{userErr}}</div>{% endif %}

    <form name="resetPw" role="form" action="/reset-pw" method="post">
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" required />
        <div class="help-block">(8-20 characters)</div>
        <div class="text-danger">
          {% for error in errors %}
          {{error.password.msg}}
          {% endfor %}
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" required />
        <div class="text-danger">
          {% for error in errors %}
          {{error.confirmPassword.msg}}
          {% endfor %}
        </div>
      </div>
      <div class="row submit">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="hidden" name="uniqueId" value="{{ uniqueId }}">
          <input type="hidden" name="csrf" value="{{ csrf }}">
          <button class="btn btn-primary sign-in">Reset My Password</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}