@import "public/less/base.less";
@import "font-faces.less";
@import "variables.less";


body {
  margin-bottom: 120px;
}


/** Nav **/
ul.navbar-nav {
  padding-top: 30px;
  padding-left: 15px;
  font-weight: bold;
  font-size: @font-size-large;
  font-family: @font-family-base;
}  

ul.subnav {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
  font-size: @font-size-base;
  font-family: @font-family-base;
}

/** footer **/

.navbar-inverse .navbar-nav > li > a {
    font-size: @font-size-base;
}

.footer {
height: 120px;
}

.footer .copyright {
  font-size: @font-size-small;
  color: @gray-light;
  padding-top: 15px;
  vertical-align: bottom-text;
}

.body-fluid-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img, .badge-class { 
  width: 100%;
  z-index: 0;
}

.row-spacer-tb {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-spacer-b {
  display: block;
  margin-bottom: 60px;
}

/* About Page */

.bluefiller {
	background:#0085ca;
}

.bluefiller-text {
	width:100%;
	text-align:center;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
	font-size:@font-size-large;
	font-weight: bold;
	vertical-align:top;
}

.how-it-works img, .who-benefits img {
  width: 75%;
}

.how-it-works-desc img, .who-benefits-desc img {
  display: none;
}

.who-benefits, .who-benefits-desc {
  background:#8CD600;
}

.who-benefits {
  padding-top: 30px;
}

.who-benefits-desc {
  padding-bottom: 30px;
}

.pilot h4 {
  padding: 0 50px;
}

.founders {
  padding: 0 20px;
}

.founders img {
  width: 75%;
}

/* Explore */

.explore-issuer {
  border: 1px solid @gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
}

.explore-issuer:hover {
  background: @gray-lighter;
}

.explore-issuer img {
  width: 45%;
}

.explore-issuer p {
  font-size: @font-size-base;
  padding-top: 10px;
}

/* Org Details */

/* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
  
  ul.subnav {
    display: none;
  }
  
  .about-row {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .what-it-is p {
    padding: 15px 10px 0 10px;
  }
  
  .how-it-works-desc img, .who-benefits-desc img {
    display: block;
    padding-top: 15px;
    width: 30%;
    margin: 0 auto;
  }
  
  .how-it-works img, .who-benefits img {
    display: none;
  }
  
  .involved {
    padding-left: 220px;
  }
}

/* My Badges */

.my-badges-name {
  font-size: @font-size-h3;
  font-family: @font-family-sans-serif;
  font-weight: bold;
}

.edit-user-form {
  border: 1px solid @gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

  .lighthouse {
    height: auto; 
  }

  ul.subnav, .subnavbar {
    display: none;
  }
  .footer img {
    display: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: @font-size-small;
  }
  .navbar-fixed-bottom {
    height: auto;
  }
  
  .about-row {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .what-it-is p, .bluefiller-text {
    padding: 15px 10px 15px 10px;
  }
  
  .how-it-works-desc img, .who-benefits-desc img {
    display: block;
    padding-top: 15px;
    width: 75%;
    margin: 0 auto;
  }
  
  .how-it-works img, .who-benefits img {
    display: none;
  }
  
  .involved {
    padding-left: 80px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
       .lighthouse {
         height: auto; 
       }

       ul.subnav, .subnavbar {
         display: none;
       }
       .footer img {
         display: none;
       }
       .navbar-inverse .navbar-nav > li > a {
         font-size: @font-size-small;
       }
       .navbar-fixed-bottom {
         height: auto;
       }

       .about-row {
         display: block;
         margin-top: 10px;
         margin-bottom: 0;
       }

       .what-it-is p, .bluefiller-text {
         padding: 15px 10px 15px 10px;
       }

       .how-it-works-desc img, .who-benefits-desc img {
         display: block;
         padding-top: 15px;
         width: 75%;
         margin: 0 auto;
       }

       .how-it-works img, .who-benefits img {
         display: none;
       }

       .involved {
         padding-left: 80px;
       }
}